{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
   {# Start Form Login #}
   <div class="container">
      <div class="row">
         <div class="col-md-3"></div>
         <div class="col-md-6">
            <div class="bg-light mt-5 py-5 px-5">
               <h2 class="mb-5 text-center">Connectez-vous !</h2>
               <form action="{{ path('account_login') }}" method="POST">
                  {# S'il ya des erreurs lors d'authentification #}
                  {% if erreur %}
                     <div class="alert alert-danger">Une erreur est survenue, l'email ou bien le mot de passe est alors invalide :/</div>
                  {% endif %}
                  <div class="form-group">
                     <label for="email">Email</label>
                     <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse email..." required value="{{ lastUserName }}">
                  </div>
                  <div class="form-group">
                     <label for="password">Mot de passe</label>
                     <input type="password" name="_password" id="password" class="form-control" placeholder="Mot de passe" required>
                  </div>
                  <div class="form-group">
                     <button type="submit" class="btn btn-success px-3 py-2">Je me connecte</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
{% endblock %}