<footer class="my-3">
   <p class="text-center">C'est juste un footer de test</p>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
