{% extends 'base.html.twig' %}
{% block title %}
   Bienvenue {{ nom }}
{% endblock %}
{% block body %}
   <h1>C'est ma première application avec Symfony</h1>
   <p>Bonjour, je suis {{ nom }}, et j'ai {{ age }}</p>
{% endblock %}