{% extends 'base.html.twig' %}

{% block title %}
   Modifier cette annonce {{ad.title}}
{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}
   <div class="container">
      <h1 class="text-center">Veuillez créer une nouvelle annonce</h1>
      {{ form_start(form) }}

      {{ form_widget(form) }}

      <button class="btn btn-primary">Enregistrer</button>

      {{ form_end(form) }}
   </div>
{% endblock %}

{% block javascripts %}
   <script src="/js/ad.js"></script>
{% endblock %}